<div class="center" *ngIf="!user">
    <div class="container">
        <div class="logo" style="display: flex;justify-content: space-between;">
            <div style="display: flex; position: relative;">
                <img src="../../../assets/images/Logo.png" style="width: fit-content;">
                <button class="button button1">Đăng Nhập</button>
                <button [mat-dialog-close]="" class="button button2"(click)="open()">Đăng Ký</button>
            </div>
            
            <i [mat-dialog-close]="" class="fa fa-times fa-2x" aria-hidden="true" style="cursor: pointer;"></i>
        </div>
        <hr>
        <h2 style="padding-left: 10px;"> Đăng Nhập</h2>
        <div class="formLogin">
            <form action="#">
                <div class="biggerData">
                    <div class="data">
                        <input   type="text" required placeholder="Email của bạn">
                        
                    </div>
                    <div class="data">
                        <div>
                        <mat-icon (click)="hide = !hide"  style="cursor: pointer; padding-top: 5%;margin-left: 100%;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <input   [type]="hide ? 'password' : 'text'"required placeholder="Nhập mật khẩu">
                        </div>
                    </div>
                    <div class="forgotP" style="margin:-20px 0 0 2%;">
                        <a [mat-dialog-close]="" (click)="forget()" style="float: left; color: rgba(173, 156, 208, 1);cursor: pointer;"> Quên mật khẩu ? </a>
                    </div>
                    <div class="loginBtn" style="margin-top: 20px;">
                        <div class="inner"></div>
                        <button> Đăng Nhập</button>
                    </div>
                </div>
            </form>
            <div class="vl"></div>
            <div class="otherLogin" style="justify-content: center;">
                <h2>Đăng nhập bằng bên thứ 3</h2>
                <div id="customBtn" class="customGPlusSignIn"  (click)="this.auth.login()"> 
                    <span class="icon"></span>
                    <span class="buttonText">Đăng nhập bằng Google</span>
                </div>
                <div id="customBtn2" class="customGPlusSignIn" (click)="this.auth.loginF()">
                    <span class="icon2"></span>
                    <span class="buttonText">Đăng nhập với FaceBook</span>
                </div>
                <div class="term" >
                    <input type="checkbox">
                     Đồng ý với  <a href="#" style=" color: rgba(173, 156, 208, 1);"> thoả thuận người
                        dùng  </a>  và  <a href="#" style=" color: rgba(173, 156, 208, 1);" > chính sách quyền riêng tư </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="auth"  style="width: 400px;" *ngIf="user" [mat-dialog-close]="onCloseConfirm()">
    <mat-icon style="color: rgb(47, 255, 127);margin-left: 40%;font-size: 60px;">check_circle</mat-icon>
    <h3 style="padding: 10px 0 10px 0; text-align: center;color: rgb(47, 255, 127);font-size: 30px;"> Đăng nhập thành công</h3>
  </div>

