.fulltotal{
    width: 100%;
    height: auto;
    background-color: #000000;
}
.total{
    width: 100%;
    height: auto;
}
#icon{
    width: 5%;
    height: 5%;
    margin-top: 10%;
    margin-left: 2.5%;
    background-color: black;
    color: #FFFFFF;
    border: 5px;
}
#button{
    font-size: 20px;
    margin-top: 1.5%;
    margin-left: 4%;
    margin-right: -3%;
    background-color: black;
    color: #FFFFFF;
    border: 5px;
    border: solid 3px;
}
#button:hover{
    background-color: #2AABEE;
}
.type1{
    width: 300px;
    height: auto;
    margin-left: 4%;
    margin-bottom: 50px;
    border: solid 3px;
    display: flex;
    flex-direction: column;
    background-color: #80808081;
}
.type1:hover{
    background-color: #2AABEE;
    border-style: solid;
}
#stream1 {
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 2%;
    background: #C4C4C4;
    border-radius: 50%;
    height: 5em;
    width: 5em;
}
#viewer{
    width:auto;
    margin-bottom: -2%;
}
h2{
    float: right;
    margin-right: 1%;
    margin-bottom: 3%;
    color: #FFFFFF;
}
#fullalltype{ 
    width: auto;
    height: auto;
    margin-top: 1.5%;
    margin-left: 1%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}