<div class="center">
    <div class="container">
        <div class="logo" style="display: flex;justify-content: space-between;">
            <div style="display: flex; position: relative;">
                <img src="../../../assets/images/Logo.png" style="width: fit-content;">
                <button class="button button1">Đăng Nhập</button>
                <button class="button button2" [routerLink]="['/signup']">Đăng Ký</button>
            </div>
            
            <i class="fa fa-times fa-2x" aria-hidden="true" style="cursor: pointer;"></i>
        </div>
        <hr>
        <h2 style="padding-left: 10px;"> Đăng Nhập</h2>
        <div class="formLogin">
            <form action="#">
                <div class="biggerData">
                    <div class="data">
                        <input matInput  type="text" required placeholder="Email của bạn">
                        
                    </div>
                    <div class="data">
                        <div>
                        <i class="fa fa-eye "  aria-hidden="true" style="cursor: pointer; padding-top: 8%;margin-left: 110%;"></i>
                        <input matInput type="password" required placeholder="Nhập mật khẩu">
                        </div>
                    </div>
                    <div class="forgotP" style="margin:-20px 0 0 2%;">
                        <a href="http://localhost:4200/forgetPass" style="float: left; color: rgba(173, 156, 208, 1);"> Quên mật khẩu ? </a>
                    </div>
                    <div class="loginBtn" style="margin-top: 20px;">
                        <div class="inner"></div>
                        <button> Đăng Nhập</button>
                    </div>
                </div>
            </form>
            <div class="vl"></div>
            <div class="otherLogin" style="justify-content: center;">
                <h2>Đăng nhập bằng bên thứ 3</h2>
                <div id="customBtn" class="customGPlusSignIn">
                    <span class="icon"></span>
                    <span class="buttonText">Đăng nhập bằng Google</span>
                </div>
                <div id="customBtn2" class="customGPlusSignIn">
                    <span class="icon2"></span>
                    <span class="buttonText">Đăng nhập với FaceBook</span>
                </div>
                <div class="term" >
                    <input type="checkbox">
                     Đồng ý với  <a href="#" style=" color: rgba(173, 156, 208, 1);"> thoả thuận người
                        dùng  </a>  và  <a href="#" style=" color: rgba(173, 156, 208, 1);" > chính sách quyền riêng tư </a>
                </div>
            </div>
        </div>
    </div>
</div>

