<div class="container">
    <div class="sidebar">
        <app-sibabar-profile></app-sibabar-profile>
    </div>
    <div class="infor">
        <div class="center">
            <div class="video">
                <img src="../../../assets/images/ttg.jpg">
                <div class="conten">
                    <img src="https://img.nimo.tv/t/201907081562587247030_1599512126145_avatar.png/w120_l0/img.png" >
                    <div>
                        <p>MixiGaming</p>
                        <div class="user-view">
                            <i class="fas fa-user-friends"></i>
                            <h5>334k</h5>
                        </div>
                    </div>
                </div>              
            </div>
            <div class="video">
                <img src="../../../assets/images/ttg.jpg">
                <div class="conten">
                    <img src="https://img.nimo.tv/t/1599518330519/202111241637756239608_1599518330519_avatar.png/w120_l0/img.png" >
                    <div>
                        <p>TRỰC TIẾP GAME</p>
                        <div class="user-view">
                            <i class="fas fa-user-friends"></i>
                            <h5>234k</h5>
                        </div>
                    </div>
                </div>              
            </div>         
            <div class="video">
                <img src="../../../assets/images/tgb.jpg">
                <div class="conten">
                    <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w120_l0/img.png" >
                    <div>
                        <p>Thầy Giáo Ba</p>
                        <div class="user-view">
                            <i class="fas fa-user-friends"></i>
                            <h5>244k</h5>
                        </div>
                    </div>
                </div>              
            </div>              
        </div>
    </div>
</div>

