.container{
    margin-top: 4.75%;
    height: 100%;
    width: 100%;
    background-color: #000000;
    padding-top: 5%;
}
.font{
    height: 100%;
    width: 100%;
    background-color: #373737;
}
 .title{
    height: 15%;
    width: 100%;
    // background-color: #eb4040;
    border-bottom: 0.2rem solid #000000;
}
.title span{
    height: 100%;
    width: 10%;
    color: white;
    // background-color: #60571d;
    display: flex;
    align-items: center;
    font-size: 2rem;
    float: left;
    align-content: center;
    justify-content: center;
}
.title p{
    height: 85%;
    width: 90%;
    padding-top: 1%;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    bottom: 0;
    float: left;
}
.font .frames{
    height: 84.7%;
    width: 100%;
    // background-color: rgb(197, 48, 185);
}
.card{
    height: 100%;
    width: 15%;
    // background-color: #cc0c0c;
    float: left;
    border-right: 0.2rem solid #F3F0F0;
}

.card p{
    height: 20%;
    width: 100%;
    color: #ffffff;
    background-color: 373737;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    float: left;
    align-content: center;
    justify-content: center;
}
.fra-info{
    height: 100%;
    width: 80%;
    // background-color: #611bbd;
    float: right;

}
