.container{
    width: 100%;
    height: auto;
    background-color: rgba(40, 40, 40, 1);
    color: white;
    padding-bottom: 10px;
    
}
#icon{
    display: flex;
    position: relative;
}

.regis{
    display: flex;
}
.info{
    display: flex;
    flex-wrap: wrap;
}
.about-content{
    width: 60%;
    position: relative;
    padding: 5% 0% 0% 7%;

}
.about-content h2{
    font-size: 25px;
    padding-top: 5px;

}
.link-content h2{ 
    position: relative;
    font-weight: 700;
    margin-bottom: 15px;
    
}
.link-content h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.link-content{
    padding-left: 80px;
    padding-top: 60px;
   
}
.link-content ul li{

    text-decoration: none;
    margin-bottom: 20px;
    font-size: larger;

}
.vl{
    border-left: solid white;
    height: 200px;
    margin-left: 5%;
    margin-top: 50px;
}
.link-content  li:hover{
    color: rgba(64, 64, 238, 0.856);
}
.regis button:hover{
    background-color: rgb(129, 5, 5);
    color: yellow   ;
}
@media only screen and (max-width: 991px){
    .container{
        height: auto;
    }
    .link-content {
        display: none;
        margin-left: 5%;
    }
    .about-content{
        font-size: medium;
        margin-left: 15%;
        
    }
    .container i{
        margin-left: 50px;
        position: relative;
        font-size: 35px;
        margin-bottom: 15px;
        
    }
    .about-content p{
        display: none;
    }
    .about-content{
        width: 100%;
    }
    .about-content h2{
        font-size: 14px;
        margin-left: 50px;
    }
    .vl{
        display: none;
    }
    
}

  
