<div class="container">
    <div class="info">
        <div class="link-content">
            <h2>Đường Dẫn</h2>
            <ul>
                <li>Trang chủ</li>
                <li>Về chúng tôi</li>
                <li>Thông tin liên lạc</li>
                <li>Đánh giá</li>
            </ul>
        </div>
        <div class="about-content">
        <mat-icon style="color: white;">facebook</mat-icon>
        <mat-icon style="color: white;">facecbook</mat-icon>
        <h2 >Đăng Kí Để Thành Thành Viên Của Tomtoc TV</h2>
        <p style="font-size: 17px; ">Bằng Cách Nhập Địa Chỉ Email Của Mình, Bạn Sẽ Luôn Được Cập Nhật Các Tin Tức Và Chương Trình Khuyến Mãi Mới
            Nhất Của TOMTOC TV. Bất Cứ Lúc Nào Bạn Có Thể Hoàn Thành Đăng Ký Và Tạo Hồ Sơ Của Mình Trên Phần TOMTOC TV
            Để Nhận Được Cá Nhân Hóa Giao Tiếp Và Truy Cập Tất Cả Các Tính Năng.</p>
        </div>
    </div>
        <div class="regis">
            <mat-form-field style="margin-left: 30%; width: 30%; " appearance="standard">
                <mat-label style="color: red;"> Email</mat-label>
                <input style="background-color: white;height: 30px;width: 100%;" matInput type="email" placeholder="Nhập email của bạn vào đáy">
                
                
              </mat-form-field>
              <button style="margin: 20px;" mat-raised-button color="warn">Đăng kí ngay</button>
        </div>
</div>