.head{
    background-image: url(../../../assets/images/trautv.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 30%;
    position: relative;
}
span.icon{
    background-image: url(../../../assets/images/uesr-goup.png) ;
    display: inline-flex;
    vertical-align: middle;
    padding-left: 20px;
    width: 4%;
    height: 100%;
    margin-left: 10px;
    border-radius: 30px;
    background-size: cover;
    
  }
.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
    font-size: 14px;
    font-weight: bold;
}
#customLogo {
    display: inline-block;
    color: yellow;
    width: 100%;
    height: 10%;
    position: relative;
    background-color: rgb(99, 95, 95);
  }
 #customBtn:hover {
    cursor: pointer;
}

.center{
   
    width: 100%;
    height: 100vh;
    background-color: black
}
.container{
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
    background-color: rgb(70, 67, 67);
    color: white;
    width: 50%;
    height: 85%;;
    padding: 40px;
}
.detail{
    width: 96%;
    height: 80%;
    padding: 1px;
}
#detail{
    width: 100%;
}

.detail mat-form-field{
    width: 100%;
}
.detail mat-label{
    color: wheat;
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 10px 5px 25px;
    cursor: pointer;
  }
  
  .button1 {
      background-color: #d61414;
      padding-bottom: 6px;
    } 

    
    ::ng-deep {
        .mat-form-field-appearance-outline .mat-form-field-outline {
           color: white;
        }
        .mat-form-field {
          ::placeholder, .mat-form-field-label {
               color: whitesmoke;
            }
         }
         .mat-select span {
             color: white;
         }
    }
    @media only screen and (max-width: 500px){
        .button {
            padding: 5px 5px;
            
          } 
          h2{
              font-size: 15px;
          }
    }