<div class="center">
    <div class="container">
        <div class="content" style="border-bottom: solid 1px;">
            <h2>Tạo sự kiện phát trực tiếp </h2>
        </div>
        <div class="detail">
            <h3>Chi tiết</h3>
            <div id="tittle">
                <mat-form-field appearance="legacy">
                    <mat-label>Tiêu đề (bắt buộc)</mat-label>
                    <input style="background-color:rgb(70, 67, 67);color: azure;" matInput placeholder="Thêm tiêu đề miêu tả sự kiện trực tiếp">
                  </mat-form-field>
            </div>
            <div id="detail" style="margin-top: 5%;">
                <mat-form-field appearance="legacy">
                    <mat-label >Mô tả</mat-label>
                    <input style="background-color:rgb(70, 67, 67);color: azure;" matInput placeholder="Giới thiệu thêm cho người xem về sự kiện trực tiếp">
                     </mat-form-field>
            </div>
            
        </div>
    </div>




</div>