<div class="full">
  <div class="main">
          <div class="left">
              <div>
                  <i class="fa fa-play"></i>
              </div>
          </div>
          <div class="right">
              <div class=" khung">
                  <img  src="../assets/images/1.png">
              </div>
              <div class=" khung">
                  <img  src="../assets/images/2.jpg">
              </div>
              <div class=" khung">
                  <img  src="../assets/images/3.jpg">
              </div>
              <div class=" khung">
                  <img  src="../assets/images/4.jpg">
              </div>
              <div class=" khung">
                  <img  src="../assets/images/5.jpg">
              </div>
          </div>
  </div>
</div>
<div class="container">
  <div class="info-title">
      <p class="text">Game nổi bật</p>
      <p class="text-them">Xem thêm ></p>
      <div class="butt-next-back">
          <i class="fa fa-caret-square-o-left" ></i>
          <i class="fa fa-caret-square-o-right" ></i>
      </div>
  </div>



<div class="list-game">
  <img src="https://img.nimo.tv/o/banner/DD32D5B48663891CE87978F262E2FA41_LOL.jpg/w500_l0/img.jpg" [routerLink]="['/gamegenre']">
  <img src="https://img.nimo.tv/o/banner/A7DD965C06C176D63361E3EBE5613EE_72c5eeb9a75c4855b279e9f435cb5f4d.png/w500_l0/img.png" [routerLink]="['/gamegenre']">
  <img src="https://img.nimo.tv/o/banner/D09CD8411936B13CF08C2539D3B40317_58f2f37a2344aed8e100b3f240a5bb04.png/w500_l0/img.png" [routerLink]="['/gamegenre']">
  <img src="https://img.nimo.tv/o/banner/CB5F66204E8B6FDBDD052B6FE8EBAF05_Pubgmobile.jpg/w500_l0/img.jpg" [routerLink]="['/gamegenre']">
  <img src="https://img.nimo.tv/o/banner/907E352061A6EE3EF4E58A9B74F4E649_71e179563a513bbb7293c831593c0ed1.jpg/w500_l0/img.jpg" [routerLink]="['/gamegenre']">
  <img src="https://img.nimo.tv/o/banner/61DC05D165132FC9B7394AB8E8E1C6AC_9dbe8d5540d0886d06ba44bc4d0e992c.jpg/w500_l0/img.jpg" style="margin-right: 0%;" [routerLink]="['/gamegenre']">
</div>

  <div class="info-title">
      <p class="text">Hot</p>
      <p class="text-them">Xem thêm ></p>
      <div class="butt-next-back">
          <i class="fa fa-caret-square-o-left" ></i>
          <i class="fa fa-caret-square-o-right" ></i>
      </div>
  </div>

- <div class="list-hot">
  <div class="streamer">
      <img src="../../../assets/images/tuanhc.jpg" [routerLink]="['/tranglivestream']">
      <div class="description">
          <img class="logo-stream" src="https://img.nimo.tv/t/1599518330519/202111241637756239608_1599518330519_avatar.png/w120_l0/img.png">
          <p class="name-streamer" >TuanHC</p>
          <img class="uesr-goup" src="../../../assets/images/uesr-goup.png">
          <p class="uesr-watch" >300K</p>
          <button class="follow-button">Theo dõi</button>
      </div>
  </div>
  <div class="streamer">
      <img src="../../../assets/images/mimosa.jpg" [routerLink]="['/tranglivestream']">
      <div class="description">
          <img class="logo-stream" src="https://img.nimo.tv/t/201907161563280672833_1899512513851_avatar.png/w120_l0/img.png">
          <p class="name-streamer" >Mimosa Chu</p>
          <img class="uesr-goup" src="../../../assets/images/uesr-goup.png">
          <p class="uesr-watch" >120K</p>
          <button class="follow-button">Theo dõi</button>
      </div>
  </div>
  <div class="streamer">
      <img src="../../../assets/images/ttb.jpg" [routerLink]="['/tranglivestream']">
      <div class="description">
          <img class="logo-stream" src="https://img.nimo.tv/t/201907111562875240667_1629511896446_avatar.png/w120_l0/img.png">
          <p class="name-streamer" >TUITÊNBO</p>
          <img class="uesr-goup" src="../../../assets/images/uesr-goup.png">
          <p class="uesr-watch" >180K</p>
          <button class="follow-button">Theo dõi</button>
      </div>
  </div>
  <div class="streamer">
      <img src="../../../assets/images/mimosa.jpg" [routerLink]="['/tranglivestream']">
      <div class="description">
          <img class="logo-stream" src="https://img.nimo.tv/t/201907161563280672833_1899512513851_avatar.png/w120_l0/img.png">
          <p class="name-streamer" >Mimosa Chu</p>
          <img class="uesr-goup" src="../../../assets/images/uesr-goup.png">
          <p class="uesr-watch" >120K</p>
          <button class="follow-button">Theo dõi</button>
      </div>
  </div>
  <div class="streamer">
      <img src="../../../assets/images/trautv.jpg" [routerLink]="['/tranglivestream']">
      <div class="description">
          <img class="logo-stream" src="https://img.nimo.tv/t/1639518831803/202104271619503157063_1639518831803_avatar.png/w120_l0/img.png">
          <p class="name-streamer" >TRÂU TV</p>
          <img class="uesr-goup" src="../../../assets/images/uesr-goup.png">
          <p class="uesr-watch" >60K</p>
          <button class="follow-button">Theo dõi</button>
      </div>
  </div>
  <div class="streamer" style="margin-right: 0%;">
      <img src="../../../assets/images/tram-banh.jpg" [routerLink]="['/tranglivestream']">
      <div class="description">
          <img class="logo-stream" src="https://img.nimo.tv/t/1599512832530/202109081631145363830_1599512832530_avatar.png/w120_l0/img.png">
          <p class="name-streamer">Trâm Bảnh</p>
          <img class="uesr-goup" src="../../../assets/images/uesr-goup.png">
          <p class="uesr-watch" >30K</p>
          <button class="follow-button">Theo dõi</button>
      </div>
  </div>
</div>

  <div class="info-title">
      <p class="text">PUBG Mobile</p>
      <p class="text-them">Xem thêm ></p>
      <div class="butt-next-back">
          <i class="fa fa-caret-square-o-left" ></i>
          <i class="fa fa-caret-square-o-right" ></i>
      </div>
  </div>

<div class="list-pubg">
  <div class="streamer-pubg">
      <img src="../../../assets/images/tuanhc.jpg" [routerLink]="['/tranglivestream']">
      <div class="description-pubg">
          <img class="logo-stream-pubg" src="https://img.nimo.tv/t/1629527340188/202102261614377221302_1629527340188_avatar.png/w120_l0/img.png">
          <p class="stream-title" >TuanHC Live Stream</p>
          <p class="name-streamer-pubg" >TuanHC</p>
          <div class ="peo-folo">
              <img class="uesr-goup-pubg" src="../../../assets/images/uesr-goup.png">
              <p class="uesr-watch-pubg" >2.8K</p>
          </div>
      </div>
  </div>
  <div class="streamer-pubg">
      <img src="../../../assets/images/mimosa.jpg" [routerLink]="['/tranglivestream']">
      <div class="description-pubg">
          <img class="logo-stream-pubg" src="https://img.nimo.tv/t/201907161563280672833_1899512513851_avatar.png/w120_l0/img.png">
          <p class="stream-title" >Xin In Tư streamer này</p>
          <p class="name-streamer-pubg" >Mimosa Chu</p>
          <div class ="peo-folo">
              <img class="uesr-goup-pubg" src="../../../assets/images/uesr-goup.png">
              <p class="uesr-watch-pubg" >9.8k</p>
          </div>
      </div>
  </div>
  <div class="streamer-pubg">
      <img src="../../../assets/images/feri.jpg" [routerLink]="['/tranglivestream']">
      <div class="description-pubg">
          <img class="logo-stream-pubg" src="https://img.nimo.tv/t/1639518832805/202104271619495952524_1639518832805_avatar.png/w120_l0/img.png">
          <p class="stream-title" >Heloo</p>
          <p class="name-streamer-pubg" >Feri</p>
          <div class ="peo-folo">
              <img class="uesr-goup-pubg" src="../../../assets/images/uesr-goup.png">
              <p class="uesr-watch-pubg" >1.9K</p>
          </div>

      </div>
  </div>
  <div class="streamer-pubg">
      <img src="../../../assets/images/ngan-sat-thu.jpg" [routerLink]="['/tranglivestream']">
      <div class="description-pubg">
          <img class="logo-stream-pubg" src="https://img.nimo.tv/t/1639518832815/202108201629453204920_1639518832815_avatar.png/w120_l0/img.png">
          <p class="stream-title" >HELLO  #252</p>
          <p class="name-streamer-pubg" >Ngân Sát Thủ</p>
          <div class ="peo-folo">
              <img class="uesr-goup-pubg" src="../../../assets/images/uesr-goup.png">
              <p class="uesr-watch-pubg" >2.8K</p>
          </div>
      </div>
  </div>
  <div class="streamer-pubg">
      <img src="../../../assets/images/ngan.jpg" [routerLink]="['/tranglivestream']">
      <div class="description-pubg">
          <img class="logo-stream-pubg" src="https://img.nimo.tv/t/1599518082586/202110141634211189738_1599518082586_avatar.png/w120_l0/img.png">
          <p class="stream-title" >Cứu bé 5k chỉ tiêu</p>
          <p class="name-streamer-pubg" >Ngân Nè</p>
          <div class ="peo-folo">
              <img class="uesr-goup-pubg" src="../../../assets/images/uesr-goup.png">
              <p class="uesr-watch-pubg" >1.0K</p>
          </div>
      </div>
  </div>
  <div class="streamer-pubg">
      <img src="../../../assets/images/thay-sui.jpg" [routerLink]="['/tranglivestream']">
      <div class="description-pubg">
          <img class="logo-stream-pubg" src="https://img.nimo.tv/t/1629528239156/202202181645188274186_1629528239156_avatar.png/w120_l0/img.png">
          <p class="stream-title" >un te 🌚</p>
          <p class="name-streamer-pubg" >Thầy Sủi</p>
          <div class ="peo-folo">
              <img class="uesr-goup-pubg" src="../../../assets/images/uesr-goup.png">
              <p class="uesr-watch-pubg" >980</p>
          </div>
      </div>
  </div>
</div>
</div>


 <!-- <mat-paginator [pageSizeOptions]="[2,4,6]" showFirstLastButtons=""></mat-paginator> -->
