<div class="container">
    <div class="sidebar">
        <app-sibabar-profile></app-sibabar-profile>
    </div>
    <div class="infor">
        <div class="center">
            <div class="conten">
                <img src="https://img.nimo.tv/t/201907081562587247030_1599512126145_avatar.png/w120_l0/img.png" >
                <div>
                    <p>MixiGaming</p>
                    <h5>334k follow</h5>
                </div>
                <button>X</button>
            </div>
            <div class="conten">
                <img src="https://img.nimo.tv/t/1599518330519/202111241637756239608_1599518330519_avatar.png/w120_l0/img.png" >
                <div>
                    <p>TRỰC TIẾP GAME</p>
                    <h5>234k follow</h5>
                </div>
                <button>X</button>
            </div>                   
            <div class="conten">
                <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w120_l0/img.png" >               
                <div>
                    <p>Thầy Giáo Ba</p>
                    <h5>245k follow</h5>
                </div>
                <button>X</button>
            </div>
        </div>
    </div>
</div>

