<div class="backround">
    <div class ="backround2">
        <div class="flex1">
            <div id="avatar">
             <img src="https://gamek.mediacdn.vn/133514250583805952/2021/12/20/17939299-1631633830956-5a524af748005-1640018821731416772953.jpg"style="border-radius: 50%;">
            </div>

            <div id="title">
                <div style="display: flex;">
                    <p style="margin-top:2%;width: 40%;">Monsieur Tuna</p>
                    <p style="margin-left:5%;margin-top:2%;width:50%; font-size: 120%;">lượt xem:100.000.000</p>

                </div>
                <p style="margin-top: 30px;width:50%;">Live thật bùng lổ</p> 
            </div>

            <div class="SumLike">
                
                <div id="Like">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <h2>10k</h2>
                </div>

                <div id="DisLike">
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                    <h2>5k</h2>
                </div>   

            </div>
            <div id="Sub">
                <div id="Follow">
                    <button class="subcribe">
                    <h1>Theo dõi</h1>
                    </button>
                    <i style="cursor: pointer;" class="fas fa-share"></i>
                </div>


                <div id="text-follow">
                <h2>Follower:200,000</h2>
                </div>
            </div>
        </div>

         
        <div class="flex2">
            <div class="Video">
                <video width="1150px" height="540px" controls></video> 
            </div>
            <div class="Chat1">
                <div class="Chat2">Chat</div>
            </div>
        </div>


        <div class="flex3">
        </div>
        
        <div class="flex4">
            <div class="type1">
                <img src="../../../assets/images/tuitenbo.jpg">

                <div class="viewer1">
                    <div id="stream1">
                        <img src="https://img.nimo.tv/t/201907111562875240667_1629511896446_avatar.png/w120_l0/img.png">
                    </div>

                    <div class="content" style="float: right;color: #ccc;margin-left: 45px;">
                        <h2>Tui tên bô</h2>
                        <h4>Stream nào</h4>
                    </div>
                </div>
                
                <div id="viewer">
                    <img
                    style="width: 8%;
                    height: 50%;;margin-left: 70%;margin-top: 2%;"
                    src="../../../assets/images/uesr-goup.png">
                    <h2>4,137</h2>
                </div>
            </div>

            <div class="type1">
                <img src="../../../assets/images/tuitenbo.jpg">

                <div class="viewer1">
                    <div id="stream1">
                        <img src="https://img.nimo.tv/t/201907111562875240667_1629511896446_avatar.png/w120_l0/img.png">
                    </div>

                    <div class="content" style="float: right;color: #ccc;margin-left: 45px;">
                        <h2>Tui tên bô</h2>
                        <h4>Stream nào</h4>
                    </div>
                </div>
                
                <div id="viewer">
                    <img
                    style="width: 8%;
                    height: 50%;;margin-left: 70%;margin-top: 2%;"
                    src="../../../assets/images/uesr-goup.png">
                    <h2>4,137</h2>
                </div>
            </div>

            <div class="type1">
                <img src="../../../assets/images/tuitenbo.jpg">

                <div class="viewer1">
                    <div id="stream1">
                        <img src="https://img.nimo.tv/t/201907111562875240667_1629511896446_avatar.png/w120_l0/img.png">
                    </div>

                    <div class="content" style="float: right;color: #ccc;margin-left: 45px;">
                        <h2>Tui tên bô</h2>
                        <h4>Stream nào</h4>
                    </div>
                </div>
                
                <div id="viewer">
                    <img
                    style="width: 8%;
                    height: 50%;;margin-left: 70%;margin-top: 2%;"
                    src="../../../assets/images/uesr-goup.png">
                    <h2>4,137</h2>
                </div>
            </div>

            <div class="type1">
                <img src="../../../assets/images/tuitenbo.jpg">

                <div class="viewer1">
                    <div id="stream1">
                        <img src="https://img.nimo.tv/t/201907111562875240667_1629511896446_avatar.png/w120_l0/img.png">
                    </div>

                    <div class="content" style="float: right;color: #ccc;margin-left: 45px;">
                        <h2>Tui tên bô</h2>
                        <h4>Stream nào</h4>
                    </div>
                </div>
                
                <div id="viewer">
                    <img
                    style="width: 8%;
                    height: 50%;;margin-left: 70%;margin-top: 2%;"
                    src="../../../assets/images/uesr-goup.png">
                    <h2>4,137</h2>
                </div>
            </div>

            <div class="type1">
                <img src="../../../assets/images/tuitenbo.jpg">

                <div class="viewer1">
                    <div id="stream1">
                        <img src="https://img.nimo.tv/t/201907111562875240667_1629511896446_avatar.png/w120_l0/img.png">
                    </div>

                    <div class="content" style="float: right;color: #ccc;margin-left: 45px;">
                        <h2>Tui tên bô</h2>
                        <h4>Stream nào</h4>
                    </div>
                </div>
                
                <div id="viewer">
                    <img
                    style="width: 8%;
                    height: 50%;;margin-left: 70%;margin-top: 2%;"
                    src="../../../assets/images/uesr-goup.png">
                    <h2>4,137</h2>
                </div>
            </div>

            <div class="type1">
                <img src="../../../assets/images/tuitenbo.jpg">

                <div class="viewer1">
                    <div id="stream1">
                        <img src="https://img.nimo.tv/t/201907111562875240667_1629511896446_avatar.png/w120_l0/img.png">
                    </div>

                    <div class="content" style="float: right;color: #ccc;margin-left: 45px;">
                        <h2>Tui tên bô</h2>
                        <h4>Stream nào</h4>
                    </div>
                </div>
                
                <div id="viewer">
                    <img
                    style="width: 8%;
                    height: 50%;;margin-left: 70%;margin-top: 2%;"
                    src="../../../assets/images/uesr-goup.png">
                    <h2>4,137</h2>
                </div>
            </div>

            <div class="type1">
                <img src="../../../assets/images/tuitenbo.jpg">

                <div class="viewer1">
                    <div id="stream1">
                        <img src="https://img.nimo.tv/t/201907111562875240667_1629511896446_avatar.png/w120_l0/img.png">
                    </div>

                    <div class="content" style="float: right;color: #ccc;margin-left: 45px;">
                        <h2>Tui tên bô</h2>
                        <h4>Stream nào</h4>
                    </div>
                </div>
                
                <div id="viewer">
                    <img
                    style="width: 8%;
                    height: 50%;;margin-left: 70%;margin-top: 2%;"
                    src="../../../assets/images/uesr-goup.png">
                    <h2>4,137</h2>
                </div>
            </div>

            <div class="type1">
                <img src="../../../assets/images/tuitenbo.jpg">

                <div class="viewer1">
                    <div id="stream1">
                        <img src="https://img.nimo.tv/t/201907111562875240667_1629511896446_avatar.png/w120_l0/img.png">
                    </div>

                    <div class="content" style="float: right;color: #ccc;margin-left: 45px;">
                        <h2>Tui tên bô</h2>
                        <h4>Stream nào</h4>
                    </div>
                </div>
                
                <div id="viewer">
                    <img
                    style="width: 8%;
                    height: 50%;;margin-left: 70%;margin-top: 2%;"
                    src="../../../assets/images/uesr-goup.png">
                    <h2>4,137</h2>
                </div>
            </div>
        </div>

                
            

               

            

            
            


                    
                   

    
        
    </div>
</div>