
<div class="backround">
    <div class ="backround2">
        <img src="https://gamek.mediacdn.vn/133514250583805952/2021/12/20/17939299-1631633830956-5a524af748005-1640018821731416772953.jpg">
        <div class="title">
            <p>Monsieur Tuna: 100.000.000 lượt xem</p>
         <p>Live thật bùng lổ</p>
        </div>
        <div class="button">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            <p>5k like</p>
        </div>
        <div class="button2">
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            <p>1,2k dislike</p>
        </div>
        <div class="Follow">
            <button style="background-color:blueviolet ;border-color: blueviolet;color: white;border-radius: 10px;margin-left: 20%;margin-top: 2%;">Theo Dõi</button>
            <p>100.000.000 Follower</p>
        </div>
        <div class="Share">
            <i class="fa fa-share" aria-hidden="true"></i>
        </div>
        </div>

</div>


