
<div class="backround">
    <div class="fullchat">
        <div class="full">
            <div class="flex1">

                <div id="avatar">
                    <img src="https://gamek.mediacdn.vn/133514250583805952/2021/12/20/17939299-1631633830956-5a524af748005-1640018821731416772953.jpg"style="border-radius: 50%;">
                </div>

                <div id="title">
                    <div style="display: flex;">
                        <p style="margin-top:2%;width: 32%;">Monsieur Tuna</p>
                        <p style="margin-top:2%;width:50%;">lượt xem:100.000.000</p>

                    </div>
                        <p style="margin-top: 30px;width:50%;">Live thật bùng lổ</p>
                </div>
                <div class="SumLike">
                    <div id="Like">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <h2>10k</h2>
                    </div>
                    <div id="DisLike">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <h2>5k</h2>
                    </div>
                </div>

                    <div id="Sub">
                        <div id="Follow">
                            <button class="subcribe">
                                <h1>Theo dõi</h1>
                            </button>
                            <i style="cursor: pointer;margin-left:8%;" class="fas fa-share"></i>
                        </div>

                        <div id="text-follow">
                            <h2>Follower:200,000</h2>
                        </div>
                    </div>
            </div>
            <div class="flex2">
                <video width="1100px" height="100%" controls></video>
            </div>
        </div>
        <div class="chat">
            <p style="margin-left: 40%;font-size: 250%;color: black;">Chat</p>
            <div class="khungchat"></div>
            <div class="typing">
                <button id="nut">
                    <img src="../../../assets/images/send.png" id="icon">
                </button>
                <input style="margin-top: 15%;width:50%;font-size: 30px;"  type="text" value placeholder=""><br>
            </div>
        </div>
    </div>
    <div class="flex3"></div>
</div>
