.fulltotal{
    width: 100%;
    height: auto;
    background-color: black;
}
#icon{
    width: 3%;
    height: 5%;
    margin-top: 1.5%;
    margin-left: 5%;
    background-color: black;
}
#button{
    font-size: 20px;
    margin-top: 1.5%;
    margin-left: 5%;
    margin-right: -3%;
    background-color: black;
    color: #FFFFFF;
    border: 5px;
    border: solid 3px;
}
#button:hover{
    box-shadow: 5px 5px 10px #2AABEE;
}
.type1{
    width: 300px;
    height: auto;
    margin-left: 4%;
	margin-bottom: 50px;
    border: solid 3px;
    display: flex;
    flex-direction: column;
    background-color: #80808081;
}
.type1:hover{
    box-shadow: 5px 5px 35px #2AABEE;
}
#stream1 {
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 2%;
    background: #C4C4C4;
    border-radius: 50%;
    height: 5em;
    width: 5em;
}
h1{
    margin-left: 125%;
    color: #FFFFFF;
}
h2{
    float: right;
    margin-right: 1%;
    margin-bottom: 3%;
    color: #FFFFFF;
}
#fullalltype{ 
    margin-top: 1.5%;
    margin-left: 1%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}