<div class="fulltotal">
    <div class="total">
        <div id="livechannel">
            <img id="icon" src="../../../assets/images/icontype.jpg">
            <p style="font-size: 350%;color: #FFFFFF;margin-left: 17.2%;margin-top: -2.5%;">Kênh trực tiếp</p>
        </div>
        <div id="allbutton">
            <button id="button">Moba</button>
        </div>
    </div>
    <div id="fullalltype">
        <div id="alltype">
            <div class="type1">
                <img src="../../../assets/images/type1.jpg">
                <div id="stream1">
                    <div>
                        <h1>ABC</h1>
                        <h1>Gaming</h1>
                    </div>
                </div>
                <div id="viewer">
                    <i style="font-size:24px;margin-left: 74%; " class="fa">&#xf01d;</i>
                    <h2>4,137</h2>
                </div>
            </div>
        </div>
        <div id="alltype2">
            <div class="type1">
                <img src="../../../assets/images/type2.jpg">
                <div id="stream1">
                    <div>
                        <h1>ABC</h1>
                        <h1>Gaming</h1>
                    </div>
                </div>
                <div id="viewer2">
                    <i style="font-size:24px;margin-left: 74%; " class="fa">&#xf01d;</i>
                    <h2>4,137</h2>
                </div>
            </div>
        </div>
        <div id="alltype3">
            <div class="type1">
                <img src="../../../assets/images/type3.jpg">
                <div id="stream1">
                    <div>
                        <h1>ABC</h1>
                        <h1>Gaming</h1>
                    </div>
                </div>
                <div id="viewer3">
                    <i style="font-size:24px;margin-left: 74%; " class="fa">&#xf01d;</i>
                    <h2>4,137</h2>
                </div>
            </div>
        </div>
        <div id="alltype4">
            <div class="type1">
                <img src="../../../assets/images/type4.jpg">
                <div id="stream1">
                    <div>
                        <h1>ABC</h1>
                        <h1>Gaming</h1>
                    </div>
                </div>
                <div id="viewer4">
                    <i style="font-size:24px;margin-left: 74%; " class="fa">&#xf01d;</i>
                    <h2>4,137</h2>
                </div>
            </div>
        </div>
        <div id="alltype5">
            <div class="type1">
                <img src="../../../assets/images/type5.jpg">
                <div id="stream1">
                    <div>
                        <h1>ABC</h1>
                        <h1>Gaming</h1>
                    </div>
                </div>
                <div id="viewer5">
                    <i style="font-size:24px;margin-left: 74%; " class="fa">&#xf01d;</i>
                    <h2>4,137</h2>
                </div>
            </div>
        </div>
        <div id="alltype6">
            <div class="type1">
                <img src="../../../assets/images/type6.jpg">
                <div id="stream1">
                    <div>
                        <h1>ABC</h1>
                        <h1>Gaming</h1>
                    </div>
                </div>
                <div id="viewer6">
                    <i style="font-size:24px;margin-left: 74%; " class="fa">&#xf01d;</i>
                    <h2>4,137</h2>
                </div>
            </div>
        </div>
        <div id="alltype7">
            <div class="type1">
                <img src="../../../assets/images/type7.jpg">
                <div id="stream1">
                    <div>
                        <h1>ABC</h1>
                        <h1>Gaming</h1>
                    </div>
                </div>
                <div id="viewer7">
                    <i style="font-size:24px;margin-left: 74%; " class="fa">&#xf01d;</i>
                    <h2>4,137</h2>
                </div>
            </div>
        </div>
        <div id="alltype8">
            <div class="type1">
                <img src="../../../assets/images/type8.jpg">
                <div id="stream1">
                    <div>
                        <h1>ABC</h1>
                        <h1>Gaming</h1>
                    </div>
                </div>
                <div id="viewer7">
                    <i style="font-size:24px;margin-left: 74%; " class="fa">&#xf01d;</i>
                    <h2>4,137</h2>
                </div>
            </div>
        </div>
        <div id="alltype9">
            <div class="type1">
                <img src="../../../assets/images/type9.jpg">
                <div id="stream1">
                    <div>
                        <h1>ABC</h1>
                        <h1>Gaming</h1>
                    </div>
                </div>
                <div id="viewer7">
                    <i style="font-size:24px;margin-left: 74%; " class="fa">&#xf01d;</i>
                    <h2>4,137</h2>
                </div>
            </div>
        </div>
        <div id="alltype10">
            <div class="type1">
                <img src="../../../assets/images/type10.jpg">
                <div id="stream1">
                    <div>
                        <h1>ABC</h1>
                        <h1>Gaming</h1>
                    </div>
                </div>
                <div id="viewer7">
                    <i style="font-size:24px;margin-left: 74%; " class="fa">&#xf01d;</i>
                    <h2>4,137</h2>
                </div>
            </div>
        </div>
    </div>
</div>
