<div class="container">
    <div class="sidebar">
        <app-sibabar-profile></app-sibabar-profile>
    </div>
    <div class="infor">
        <div class="center">
            <div id="cen-left">
                <div class="conten">
                    <h2>Họ Tên</h2>
                    <p>Nguyễn Văn Hhh</p>
                </div>
                <div class="conten">
                    <h2>ID</h2>
                    <p>56823612</p>
                </div>
                <div class="conten">
                    <h2>Email</h2>
                    <p>Huu234@gmail.com</p>
                </div>
                <div class="contenMoney">
                    <img src="../../../assets/images/coin.jpg">
                    <h2>200</h2>
                </div>
            </div>
            <div id="cen-right">
                <div class="conten">
                    <h2>Giới tính</h2>
                    <p>Nam</p>
                </div>
                <div class="conten">
                    <h2>Ngày sinh</h2>
                    <p>25/9/2001</p>
                </div>
                <div class="conten">
                    <h2>Điện thoại</h2>
                    <p>023895621</p>
                </div>
            </div>
        </div>
        <div id="btn-update">
            <button mat-raised-button (click)="openDialog()" >Chỉnh sửa</button>
        </div>
    </div>
</div>

