.contain {
	height: 10%;
	width: 100%;
	background-color: #373737;
	display: flex;
	align-items: center;
	// justify-content: space-between;
	border-bottom: #13131a;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.contain .logo {
	width: 3%;
	height: auto;
	margin-left: 10%;
}

.contain img {
	height: 3rem;
}


.contain .navbar {
	padding: 0 12% 0 5%;
	width: 80%;
	display: flex;
	color: black;
	list-style-type: none;
	justify-content: space-between;
}


.contain .navbar a{
	display: flex;
	text-decoration: none;
	margin: 0 15%;
	font-size: 20px;
	color: #fff;
}



.contain .navbar a:hover {
	color: #cc0000;
	border-bottom: .1rem solid #cc0000;
}


.contain .navbar .search-form {
	
	position: relative;
	width: 70%;
	height: 21px;
	margin-left: 30%;
	display: flex;
	align-items: center;
	transform-origin: top;
}

.contain .navbar .search-form input {
	width: 300px;
	font-size: 15px;
	padding: 0 3%;
	// padding-right: 2%;
	border-radius: 1rem;
	background-color: white;
}


.contain .navbar .search-form label  {
	color: white;
	cursor: pointer;
	height: 100%;
	width: 5%;
	font-size: 20px;
	padding-right: 2%;
	margin-left: 5%;
}

.contain .navbar .search-form label:hover {
	color: #cc0000;
}


.contain .login {
	position: relative;
	max-width: 100%;
	height: 100%;
	display: flex;
	margin-right: 5%;
	margin-left: 20%;
}

.login button {
	height: 37%;
	width: 50%;
	margin-top: 10%;
	font-size: 15px;
	color: #fff;
	background-color: #373737;
	border: 0.5px solid white;
	padding-bottom: 20%;
	margin-bottom: 10px;
}
.login button:hover{
	background-color: #cc0000;
}
.contain .divine {
	padding: 0 ;
	margin: 0 3%;
	border: 0.1px  #fff;
}
.text{
	display: flex; 
	margin-left: 5%;
	 margin-right: 20%;
}

.circle {
	clip-path: circle(50%);
	width: fit-content;
	height: fit-content;
	margin-top: 8px;
	cursor: pointer;
  }
// a queries

@media only screen and (max-width: 990px){
	.contain .login {
		position: relative;
		max-width: 100%;
		height: 100%;
		display: flex;
		margin-right: 15%;
		margin-left: 10%;
	}
	.contain .navbar .search-form {
		position: relative;
		width: 50%;
		height: 21px;
		margin-left: 20%;
		margin-right: 10%;
	}
	.contain .navbar a{
		
		margin: 0 5%;
		
	}
	.text{
		margin-right: 5%;

	}
}



@media screen and (max-width:600px) {
	.sidebar{
		display: none;
	}
	.contain .logo {
		margin-left: 0;
	}
	.contain .navbar a{
		display: none;
	}
	.contain .navbar .search-form {
		margin-left: -60px;
	}
	.contain .navbar{
		padding: 0;
	}
	.contain .login {
		position: static;
		margin-left: 20%;
		max-width: 50%;
	}
	.login button {
		height: 20%;
		width: 30%;
		font-size: 10px;
		padding-bottom: 20%;
		margin-bottom: 10px;
		margin-top: 15%;
		text-align: center;
		
	}
}
