<div class="center">
    <div class="container">
        <div class="logo" style="display: flex;justify-content: space-between;">
            <div style="display: flex; position: relative;">
                <img src="../../../assets/images/Logo.png" style="width: fit-content;">
                <button class="button button1"[routerLink]="['/login']">Đăng Nhập</button>
                <button class="button button2" >Đăng Ký</button>
            </div>
            <i [routerLink]="['/login']" class="fa fa-arrow-left fa-2x" aria-hidden="true" style="cursor: pointer;"></i>
        </div>
        <hr>
        <h2 style="padding-left: 10px;"> Đăng Ký</h2>
        <div class="formLogin">
            <form action="http://localhost:4200/login">
                <div class="biggerData">
                    <div class="data" style="padding-top: 20px;">
                        <input  type="text" required placeholder="Email / SĐT">
                    </div>
                    <div class="data">
                       
                        
                        <div>
                        <i class="fa fa-eye "  aria-hidden="true" style="cursor: pointer; padding-top: 8%;margin-left: 110%;"></i>
                        <input matInput type="password" required placeholder="Mật khẩu của bạn">
                        </div>
                        <label style="color: aqua; font-size: 10px;margin-left: 3px;display: inline-block;">Mật khẩu nên là sự kết hợp của 6-20 ký tự và số</label>
                        
                    </div>
                    <div class="data">
                        <div>
                        <i class="fa fa-eye " aria-hidden="true" style="cursor: pointer; padding-top: 8%;margin-left: 110%;"></i>
                        <input matInput type="password" required placeholder="Xác nhận mật khẩu" >
                        </div>
                    </div>
                   
                    <div class="loginBtn" style="margin-top: 20px;">
                        <div class="inner"></div>
                        <button> Đăng Ký</button>
                    </div>
                </div>
            </form>
            <div class="vl"></div>
            <div class="otherLogin" style="justify-content: center;">
                <h2>Đăng nhập bằng bên thứ 3</h2>
                <div id="customBtn" class="customGPlusSignIn" style="margin-top: 5%;">
                    <span class="icon"></span>
                    <span class="buttonText">Đăng nhập bằng Google</span>
                </div>
                <div id="customBtn2" class="customGPlusSignIn">
                    <span class="icon2"></span>
                    <span class="buttonText">Đăng nhập với FaceBook</span>
                </div>
                <div class="term" >
                    <input type="checkbox">
                     Đồng ý với  <a href="#" style=" color: rgba(173, 156, 208, 1);"> thoả thuận người
                        dùng  </a>  và  <a href="#" style=" color: rgba(173, 156, 208, 1);" > chính sách quyền riêng tư </a>
                </div>
            </div>
        </div>
    </div>
</div>


