*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    left:0;
    top: 0;
    font-family: sans-serif;
}
.sidebar{
    position: fixed;
    left:-20%;
    width: 20%;
    height: 100%;
    background: #1b1b1b;
}
.sidebar header{
    font-size: 140%;
    color: white;
    text-align: center;
    line-height: 3.3em;
    background:  #1b1b1b;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
}
.middle{
    position: absolute;
    width: 90%;;
    top: 3%;
    left: 4%;
}
.item{
    overflow: hidden;
}
.btn{
    display: block;
    padding: 8% 10%;
    height: auto;
    background: #1b1b1b;
    color: white;
    position: relative;
    /* border: 2px solid #484e52af; */
}
#rank-logo{
    width: 7%;
    height: 7%;
}
.btn:before{
    content: "";
    width: 7%;
    height: 25%;
    background: #1b1b1b;
}
.smenu{
    background: #373737;
    overflow: hidden;
    max-height: 0;
}
.btn i{
    margin-right: 10%;
}
a i{
    margin-right: 10%;
}
li a{    
    font-size: 150%;
}
.smenu a{
    height: 100%;
    display: block;
    padding: 8% 8%;
    color: white;
    font-size: 1.3rem;
    margin: 5% 0;
    margin-left: 5%;
    position: relative;
}
.smenu a:hover{
    margin-left: 5%;
    width: 90%;
    height: 100%;
    background: #242323;
}
.item:target .smenu{
    max-height: 100%;
}
#check{
    display: none;
}
label #btn{
    position: absolute;
    cursor: pointer;
    background: #373737;
    border-radius: 3%;
    z-index: 1111;
    left: 2%;
    top: 29%;
    font-size: 170%;
    color: white;
    padding: 0.5% 1%;
}
label  #cancel{
    z-index: 1111;
    left:0rem;
    top:-2%;
    font-size: 300%;
    color: #eee;
    // background-color: red;
}

#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250%;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left:100rem;
    opacity: 0;
    pointer-events: none;
}
 section{
    background-position: center;
    background-size: cover;
    height: 100vh;
    // transition: all .5s;
} 


