<input type="checkbox" id="check">
<label for="check">
    <i class="fa fa-bars" id="btn"></i>
</label>
<div class="sidebar">
    <div class="middle">
        <label  for="check">
            <i   [ngStyle]="{'margin-left': '80%'}"  class="fa fa-times" id="cancel"></i>
        </label>
        <li class="item">
            <a href="#" class="btn">Bảng xếp hạng</a>
        </li>
        <li class="item">
            <a href="#" class="btn">Bảng danh vọng</a>
        </li>
        <li class="item" id="profile">
            <a href="#profile" class="btn"><i class='fa fa-gamepad'></i>Game</a>
            <div class="smenu">
                <a href="#"><i class="fa fa-mobile-alt"></i>Mobile game</a>
                <a href="#"><i class="fa fa-desktop"></i>PC game</a>
            </div>
        </li>
        <li class="item" id="messages">
            <a href="#messages" class="btn"><i class='fa fa-user-plus'></i>Theo dõi</a>
            <div class="smenu">
                <a href="#">TRỰC TIẾP GAME</a>
                <a href="#">Sena Meta</a>
                <a href="#" style="text-align: center;">Thêm ></a>
            </div>
        </li>
</div>
<section></section>

</div>
